.card-design {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.15) !important;
  border-radius: 10px;
}

.btn-animated {
  position: relative;
  min-width: 0 !important;
  padding-right: 45px !important;

  &:hover {
    color:  #115b9c;
  }
 
}

.font-button-back {
  font-size: 17px;
  font-weight: 550 !important ;
  color: #115b9c;
  font-family: rubik !important;
}

//filters styles

.font-detail-card {
  font-size: 16px;
  font-weight: 700 !important ;
  color: #115b9c;
  font-family: rubik !important;
}

.font-title-pricipal {

  font-size: 28px !important;
  font-weight: 700 !important ;
  color: #115b9c;
  font-family: rubik !important;
}

.me-table {
  margin-left: 6%;
}

.text-error-filter {

  font-size: 20px !important;
  font-weight: 400 !important ;
  color: red;
  font-family: rubik !important;
  margin-top: 3rem !important;
  display: flex;
  justify-content: center;

}

//from 

.error-msg {
  font-size: 14px !important;
  font-weight: 400 !important ;
  color: red;
  font-family: rubik !important;
}

.input-size {
  width: 256px;
  height: 30px;
}